*.pyc
*.h5
*.schematic
*.gz
creAI/plugins/file_manager/formats/tilemaps/minecraft_tilemaps/geometry/models/1.14.2/*
creAI/plugins/style_transfer/tile_encoder/models/*
__pycache__
creAI.egg-info
.vscode