#file_list {
	

	pointer-events: auto;

	height: calc(50px * var(--scaling-factor));
	padding: 0px;
 	margin: calc(5px * var(--scaling-factor));

 	display: grid;
 	grid-auto-rows: calc(50px * var(--scaling-factor));
 	grid-template-columns: repeat(auto-fill, calc(calc(50px * var(--scaling-factor)) * 4));
 	grid-gap: calc(5px * var(--scaling-factor));

 	border-radius: var(--border-radius);
 	

 	z-index: 1;
}

@keyframes file_tag_fadein {
	0% {
		transform: scale(0);
	}
	70% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}



.file_tag {
	position: relative;
	height: calc(50px * var(--scaling-factor));
	border: solid var(--border-thickness) var(--border-color);
	border-radius: var(--border-radius);
	background-color: var(--main-bg-color);
	backdrop-filter: var(--bg-blur);
	padding: 0px;
	margin: calc(var(--border-thickness) * -1);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	color: inherit;
	font-weight: bold;
	width: calc(calc(50px * var(--scaling-factor)) * 4);
	display: grid;
	grid-template:
 		"title title title icon" calc(50px * var(--scaling-factor)) 
		 ;
	grid-auto-rows: calc(50px * var(--scaling-factor));
	grid-template-columns: 1fr 1fr 1fr 1fr;
 	grid-gap: 0px;
 	

 	-webkit-transition: box-shadow 0.5s, width 0.1s, grid-template-columns 0.1s;
	transition: box-shadow 0.5s, width 0.1s, grid-template-columns 0.1s;

}

.file_tag p, .file_tag .icon.wrapper{
	margin: 0px;
	height: calc(50px * var(--scaling-factor));
	display: flex;
	align-items: center;
 	justify-content: center;

}

.file_tag p{
	color: var(--main-text-color);
	grid-area: title;
}

.file_tag .icon.wrapper{
	grid-area: icon;
}