form {
	padding: calc(25px * var(--scaling-factor)) 0px calc(25px * var(--scaling-factor)) 0px;
	margin: 0px ;
	border-top: calc(1.5px * var(--scaling-factor)) solid var(--active-text-color);
}



button {
	height: calc(50px * var(--scaling-factor));
	width: 100%;
	border: solid var(--border-thickness) var(--border-color);
	border-radius: var(--border-radius);
	background-color: inherit;
	

	margin: 10px auto 10px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	display: block;
 	text-align: center;

 	-webkit-transition: box-shadow 0.5s;
	transition: box-shadow 0.5s;
}

button:focus {
	outline: none;
}

.button_list {
	margin: 0px;
	display: grid;
	grid-auto-rows: calc(50px * var(--scaling-factor));
 	grid-template-columns: repeat(auto-fill, calc(calc(50px * var(--scaling-factor)) * 2));
 	grid-gap: 0px;
}

.button_list button {
	width: auto;
	margin: 0px;
}

.number_input_wrapper {
	height: calc(25px * var(--scaling-factor));
	width: 100%;
	margin: calc(10px * var(--scaling-factor)) auto calc(10px * var(--scaling-factor)) auto;
	background-color: rgba(0,0,0,0.2);
	border-radius: var(--border-radius);
	display: grid;
	grid-template:
 		"decrement number number increment" calc(50px * var(--scaling-factor)) 
		 ;
	grid-auto-rows: calc(50px * var(--scaling-factor));
	grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
}

button.decrement, button.increment {
	height: calc(25px * var(--scaling-factor));
	width: auto;
	margin: 0px;
	display: block;
}

button.decrement {
	grid-area: decrement;
	border-radius: var(--border-radius) 0px 0px var(--border-radius);
}

button.increment {
	grid-area: increment;
	border-radius: 0px var(--border-radius) var(--border-radius) 0px;
}

button.decrement:after {
	content: '-';
}

button.increment:after {
	content: '+';
}

button:hover {
	box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
	border: calc(1.5px * var(--scaling-factor)) solid white;
	/*margin: -1.calc(5px * var(--scaling-factor));*/
}

input:focus {
	outline: none;
}
input:hover {
	color: var(--accent-color);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

input[type=number] {
	grid-area: number;
	height: calc(25px * var(--scaling-factor));
	width: auto;
	border: none;
	border-radius: var(--border-radius);
	background-color: transparent;
	margin: 0px;
	padding-left: 10px;
	color: inherit;
	font-family: inherit;
	font-weight: bold;
	font-size: inherit;
	text-align: center;
	display: flex;

}

input[type=text] {
	height: calc(25px * var(--scaling-factor));
	width: 100%;
	border: none;
	border-radius: var(--border-radius);
	background-color: rgba(0,0,0,0.2);
	margin: 10px 0px 10px 0px;
	padding-left: 10px;
	color: inherit;
	font-family: inherit;
	font-weight: bold;
	font-size: inherit;

}

input[type=radio] {
	opacity: 0;
	position: fixed;
}

input[type=radio] + .radio_label{
	display: inline-block;
	margin: calc(5px * var(--scaling-factor));
}

input[type=radio] + .radio_label:before {
	content: '';
	display: inline-block;
	width: calc(20px * var(--scaling-factor));
	height: calc(20px * var(--scaling-factor));
	margin-right: calc(5px * var(--scaling-factor));
	background-color: rgba(0,0,0,0.2);
	border-radius: var(--border-radius);
}

input[type=radio]:checked + .radio_label:before {
	border: calc(5px * var(--scaling-factor)) solid var(--accent-color);
	width: calc((20px - 10px) * var(--scaling-factor));
	height: calc((20px - 10px) * var(--scaling-factor));
}

label {
	display: inline;
	color: inherit;
}

label:before {
    content: '\A';
    white-space: pre;
}
