@import 'vars.css';
@import 'scrollbar.css';
@import 'menu_elements.css';
@import 'inputs.css';
@import 'dialog_windows.css';
@import 'file_tags.css';
@import 'https://fonts.googleapis.com/css?family=Nunito';


html {
	font-family: 'Nunito', sans-serif;
  	user-select: none;
}

html {
	height: 100%;
	background: radial-gradient(circle, rgba(128,123,113,1) 0%, rgba(57,53,64,1) 100%);
}

body {
	background-color: var(--bg-color);
	font-size: calc(1em * var(--scaling-factor));
}

canvas {
	position: fixed;
	top: 0px;
	left: 0px;
}

h1 {
    font-family: 'Nunito', sans-serif;
	text-align: left;
	font-size: 1.2em;
}

p {
	margin: 16px;
	word-break: break-word;
}

p.italic {
	font-style: italic;
	font-weight: normal;
}



.ui {
	pointer-events: none;

	position: fixed;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	margin: 0px;
	padding: 0px;

 	z-index: 1;

 	display: grid;
 	grid-template-columns: calc(calc(50px * var(--scaling-factor)) * 6 + calc(5px * var(--scaling-factor)) * 5 ) 1fr;
 	grid-auto-rows: calc(50px * var(--scaling-factor));
 	grid-gap: calc(5px * var(--scaling-factor));

}

.ui_grid {
	grid-row: 1;
	width: calc(calc(50px * var(--scaling-factor)) * 6 + calc(5px * var(--scaling-factor)) * 5 );
	pointer-events: none;

	padding: 0px;
 	margin: calc(5px * var(--scaling-factor));

 	display: grid;
 	grid-template:
 		"logo logo logo logo logo main" calc(50px * var(--scaling-factor)) 
 		"logo logo logo logo logo main" calc(50px * var(--scaling-factor)) 
 		"plugin properties properties properties properties tool" calc(50px * var(--scaling-factor)) 
 		"plugin properties properties properties properties tool" calc(50px * var(--scaling-factor)) 
 		"plugin properties properties properties properties tool" calc(50px * var(--scaling-factor)) 
 		"plugin properties properties properties properties tool" calc(50px * var(--scaling-factor)) 
 		"plugin properties properties properties properties tool" calc(50px * var(--scaling-factor)) 
 		"plugin properties properties properties properties tool" calc(50px * var(--scaling-factor)) 
 		"plugin properties properties properties properties tool" calc(50px * var(--scaling-factor)) 
 		"plugin properties properties properties properties tool" calc(50px * var(--scaling-factor)) 
 		"plugin properties properties properties properties tool" calc(50px * var(--scaling-factor)) 
 		"plugin properties properties properties properties tool" calc(50px * var(--scaling-factor)) 
 		"plugin properties properties properties properties tool" calc(50px * var(--scaling-factor))
 		;
 	grid-template-columns: repeat(6, 1fr);
 	grid-gap: calc(5px * var(--scaling-factor));

 	z-index: 1;
}



#main_menu {
	pointer-events: auto;
	grid-area: main;

	pointer-events: auto;

	padding: 0px;
 	margin: 0px;

 	display: grid;
 	grid-template-columns: 1fr;
 	grid-auto-rows: calc(50px * var(--scaling-factor));
 	grid-gap: calc(5px * var(--scaling-factor));

 	border-radius: var(--border-radius);
 	background-color: var(--main-bg-color);

 	color: var(--main-text-color);
}



#plugin_menu_wrapper {
	grid-area: plugin;
}

#plugin_menu {
	pointer-events: auto;

	padding: 0px;
 	margin: 0px;

 	display: grid;
 	grid-template-columns: 1fr;
 	grid-auto-rows: calc(50px * var(--scaling-factor));
 	grid-gap: calc(5px * var(--scaling-factor));

 	border-radius: var(--border-radius);
 	background-color: var(--main-bg-color);
 	

 	color: var(--main-text-color);
}



#tool_menu_wrapper {
	grid-area: tool;
}

#tool_menu {
	pointer-events: auto;

	padding: 0px;
 	margin: 0px;

 	display: grid;
 	grid-template-columns: 1fr;
 	grid-auto-rows: calc(50px * var(--scaling-factor));
 	grid-gap: calc(5px * var(--scaling-factor));

 	border-radius: var(--border-radius);
 	background-color: var(--plugin-bg-color);

 	z-index: 2;
}




#properties_wrapper {
	grid-area: properties;
	position: relative;
}


@keyframes fadein {
	0% {
		visibility: hidden;
		transform: perspective(800px) rotateY(-90deg);
	}
	100% {
		transform: perspective(800px) rotateY(0deg);
		visibility: visible;
	}
}

@keyframes fadeout {
	0% {
		transform: perspective(800px) rotateY(0deg);
		visibility: visible;
	}
	100% {
		transform: perspective(800px) rotateY(90deg);
		visibility: hidden;
	}
}

.hide {
	transform-origin: 0px 50% 0px;
	animation: fadeout 0.1s ease-out;
	animation-fill-mode: forwards;
	z-index: 1;
}

.show {
	transform-origin: 0px 50% 0px;
	animation: fadein 0.1s ease-out;
	animation-fill-mode: forwards;
	z-index: 2;
}

.hidden {
	visibility: hidden;
}

.properties {
	position: absolute;
	top: calc(50px * var(--scaling-factor));
	left: calc(calc(50px * var(--scaling-factor)) + calc(5px * var(--scaling-factor)));
	pointer-events: auto;
	width: calc(calc(50px * var(--scaling-factor)) * 4 + calc(5px * var(--scaling-factor)) * 4);
	max-height: 50vh;
	border-radius: 0px 0px var(--border-radius) var(--border-radius);
	background-color: inherit;
	padding: calc(25px * var(--scaling-factor));
	padding-top: calc(25px * var(--scaling-factor));
	margin: 0px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	color: var(--plugin-text-color);
	backdrop-filter: var(--bg-blur);
	z-index: 1;
	overflow-y: scroll;
	overflow-x: hidden;
}

.active .properties {
	visibility: visible;
}


.properties h1 {
	color: var(--plugin-text-color);
	margin: calc(5px * var(--scaling-factor)) 0px calc(5px * var(--scaling-factor));
}

.properties p {
	color: var(--plugin-text-color);
	margin: calc(5px * var(--scaling-factor)) 0px calc(5px * var(--scaling-factor));
}












@keyframes progress_bar_loop {
	0% {

		width: 0%;
		margin-left: 0%;
	}
	50% {

		width: 100%;
		margin-left: 0%;

	}
	100% {
		width: 0%;
		margin-left: 100%;
	}
}

.progress_bar {
	display: block;
	width: auto;
	height: 10px;
	/*background-color: #cccccc;*/
	margin: calc(25px * var(--scaling-factor));
	padding: 0px;
	border-radius: var(--border-radius);
}

.progress_bar:after {
	content: '';
	display: block;
	overflow: hidden;
	height: 10px;
	width: auto;
	background-color: var(--accent-color);
	margin: 0px;
	border-radius: var(--border-radius);
	-webkit-transition: width 1s;
	transition: width 1s;
	animation: progress_bar_loop 5s ease-out normal backwards;
}

.code_block {
	padding: calc(5px * var(--scaling-factor));
	margin: 0px;
	min-height: 100px;
	max-height: 200px;
	width: auto;
	border-radius: var(--border-radius);
	background-color: var(--code-bg-color);
	overflow: scroll;
}

.code_block > p {
	font-family: "Lucida Console", Monaco, monospace;
	color: var(--code-text-color);
	word-break: keep-all;
	user-select: text;
	font-weight: normal;
}