@import 'vars.css';

:root {
  --icon-thickness: 2px;
}


.import.icon {
  color: #000;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  width: 11px;
  height: 11px;
  border: solid var(--icon-thickness) var(--icon-color);
  border-radius: 1px;
}

.import.icon:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 2px;
  width: var(--icon-thickness);
  height: 10px;
  background-color: var(--icon-color);
  border-left: solid 3px var(--main-bg-color);
  border-right: solid 3px var(--main-bg-color);
}

.import.icon:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 1px;
  width: 4px;
  height: 4px;
  border-top: solid var(--icon-thickness) var(--icon-color);
  border-right: solid var(--icon-thickness) var(--icon-color);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.export.icon {
  color: #000;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  width: 11px;
  height: 9px;
  border-radius: 1px;
  border: solid var(--icon-thickness) var(--icon-color);
}

.export.icon:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 2px;
  width: var(--icon-thickness);
  height: 8px;
  border-left: solid 3px var(--main-bg-color);
  border-right: solid 3px var(--main-bg-color);
  background-color: var(--icon-color);
}

.export.icon:after {
  content: '';
  position: absolute;
  left: 3px;
  top: -5px;
  width: 4px;
  height: 4px;
  border-top: solid var(--icon-thickness) var(--icon-color);
  border-right: solid var(--icon-thickness) var(--icon-color);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.eye.icon {
  color: #000;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  width: 12px;
  height: 12px;
  border-radius: 70% 15%;
  border: solid var(--icon-thickness) var(--icon-color);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.eye.icon:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid var(--icon-thickness) var(--icon-color);
}

.close.icon {
  color: #000;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  width: 21px;
  height: 21px;
}

.close.icon:before {
  content: '';
  position: absolute;
  top: 10px;
  width: 21px;
  height: var(--icon-thickness);
  background-color: var(--icon-color);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close.icon:after {
  content: '';
  position: absolute;
  top: 10px;
  width: 21px;
  height: var(--icon-thickness);
  background-color: var(--icon-color);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.picture.icon {
  color: #000;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: solid var(--icon-thickness) var(--icon-color);
}

.picture.icon:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border: solid var(--icon-thickness) var(--icon-color);
}

.picture.icon:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 9px;
  width: 12px;
  height: 8px;
  border-top: solid var(--icon-thickness) var(--icon-color);
  border-right: solid var(--icon-thickness) var(--icon-color);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.link.icon {
  color: #000;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  width: 7px;
  height: var(--icon-thickness);
  background-color: var(--icon-color);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.link.icon:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -7px;
  width: 8px;
  height: 5px;
  border-radius: 2px;
  border: solid var(--icon-thickness) var(--icon-color);
}

.link.icon:after {
  content: '';
  position: absolute;
  top: -3px;
  right: -7px;
  width: 8px;
  height: 5px;
  border-radius: 2px;
  border: solid var(--icon-thickness) var(--icon-color);
}

