:root {
	--bg-color: #232931;
	--accent-color: #4ecca3;
	--main-bg-color: #131e2a;
	--main-text-color: #feffdb;
	--plugin-bg-color: #131e2a;
	--plugin-text-color: #eeeeee;
	--icon-color: #1bffb5;
	--border-radius: 10px;
	--border-thickness: 0px;
	--border-color: #242A33;
	--bg-blur: blur(40px);
}